.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  background-color: #cce1f6;
  padding: 16px 0;
  flex: 0 0 auto;
}

.nav {
  display: flex;
  gap: 16px;
}
.nav__link {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
  transition: all 0.3s ease;
  &:hover {
    color: #0056b3;
    background-color: #6f92b7;
  }
}
.active {
  color: #a1cf18;
}
.layout {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}
