.sidebar {
  width: 260px;
  background-color: black;
  color: #fff;
  transition: transform 0.3s ease;
  flex-shrink: 0;
  height: 100%;

  @media (max-width: 768px) {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    transform: translateX(-100%);
    z-index: 10;
    transition: transform 0.3s ease;

    &.open {
      transform: translateX(0);
    }
  }
}

.sidebar__title {
  padding: 16px;
  font-size: 1.5em;
  color: #bbb8b8;
  border-bottom: 1px solid #444;
}
